/* environ ligne 78, dans style.css, j'ai mit tout les liens en couleur au lieu de laisser un classe, il va faloir tout unifier */
a{
	color: rgb(151, 142, 142); 
}

a:hover{
	color: white;
}

/* tout ce qui est utile pour la biographie  */

#conteneur{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	background-color: rgba(90, 70, 70, 0.95);
	margin: 50px 50px 50px 50px;
}
.txt
{
    border: 10px solid rgb(56, 50, 50);
    width: 500px;
    height: auto;
    background-color: rgb(38, 37, 38);
    color: rgb(206, 182, 182);
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
	font-size: 20px;
	margin: 20px 10px 0px 10px;
}

/* Permet à toutes les images d'avoirun cadre.*/
img{
	border: 10px solid rgb(56, 50, 50);
}

/*Sert au placement des images dans la page*/
.img{
	width: 500px;
	text-align: center;
	margin: 100px 10px 100px 10px;
}
/*Sert à créer les deux collones dans la page*/
#el-proche{
	margin: auto 50px auto 10px;
}
#el-loin{
	margin: auto 250px auto 10px;
}
