body{
	padding: 0;
    margin: 0;
}

.title-bar{
	display: flex;
	background: black;
}

.title-bar img{
	height: 100px;
	border-radius: 15px;
}

.nav-bar{
	display: flex;
	background: rgb(63, 59, 59);
}

.nav-button{

	width: 150px;
	text-align: center;
}



.nav-button a{
	color: rgb(151, 142, 142);
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
}

.nav-button a:hover{
	background: rgb(54, 52, 48);
	color: white;
}

body
{
	abackground: url(background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;

}

#home{
	padding-left: 100px;
}