/* Animations */
@keyframes slideInFromTop{
	0% {
	  transform: translateY(-110%);
	}
	100% {
	  transform: translateY(0);
	}
  }

@keyframes slideInFromRight{
	0% {
	  transform: translateX(30%);
	}
	100% {
	  transform: translateX(0);
	}
  }

@keyframes slideInFromLeft{
	0% {
	  transform: translateX(-70%);
	}
	100% {
	  transform: translateX(0);
	}
  }

@keyframes Appear{
	0% {
	  opacity: 0;
	  transform: scale(0.9);
	}
	100% {
	  opacity: 1;
	  transform: scale(1);
	}
  }

/* Animations d'apparition */
.appear{
	opacity: 0;
	animation: 0.8s ease-out 0.5s 1 Appear;
	animation-fill-mode: forwards;
}
p{
	opacity: 0;
	animation: 0.8s ease-out 0.5s 1 Appear;
	animation-fill-mode: forwards;
}

/* Police générale */
*{
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/*Barre de Titre */
header{
	background: var(--third-background-color);
}

.title-bar{
	display: flex;
	padding: 20px 20px 20px 20px;
	animation: 1s ease-out 0s 1 slideInFromTop;
}

.title-bar img{
	height: 100px;
	border-radius: 15px;
	margin-left: 80px;
}

.title-bar a{
	text-decoration: none;
}

.title-bar a h1{
	color: var(--main-title-text-color);
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 60px;
	margin: 0;
	padding-top: 10px;
	margin-left: 40px;
}


/*Barre de Navigation*/
.nav-bar{
	display: flex;
	background: var(--second-background-color);
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.nav-button{

	width: 175px;
	text-align: center;
}

#button-contact{
	width: 250px;
}

.nav-button a{
	color: var(--second-text-color);
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	text-decoration: none;
    display:inline-block;
    width:100%;
	height:100%;
}

.nav-button a:hover{
	background: var(--hover-background-color);
	color: var(--hover-text-color);
}

#button-home{
	padding-left: 100px;
}


/*Bas de page */
footer{
	background: var(--second-background-color);
	text-align: center;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	color: var(--second-text-color);
	padding: 25px 25px 25px 25px;
}

footer a{
	color: rgb(151, 142, 142); 
}

footer a:hover{
	color: white;
}

/* Corps de page */
#body{
	margin: 40px;
	display: flex;
	flex-direction: column;
	background: var(--first-background-color);
	border-radius: 15px;	
	animation: 1s ease-out 0s 1 slideInFromRight;
}

#body h2{
	color: var(--page-title-text-color);
	padding-left: 100px;
	font-size: 50px;
	text-decoration: underline;
	margin: 0;
	padding-top: 20px;
}

#content{
	display: flex;
	margin: 0;
	padding: 0;
	border-radius: 15px;
}

/* Sections */
#sections{
	margin: 25px; 
	display: flex;
	flex-direction: column;
	background: var(--second-background-color);
	color: white;
	border-radius: 15px;
	width: 100%;
}

section{
	margin: 20px;
	padding: 10px;
	background: var(--third-background-color);
	border-radius: 15px;	
}

section h3{
	padding-left: 70px;
	font-size: 30px;
	color: var(--titles-text-color);
	text-decoration: underline;
}

section p{
	margin: 15px;
	font-size: 20px;
	color: var(--text-color);
}

section a{
	font-size: 20px;
	font-weight: bold;
	color: var(--link-text-color);
}
section a:hover{
	color: var(--hover-text-color);
}
section a:hover h3{
	color: var(--hover-text-color);
}

/* Images/Videos */
.image{
	margin: 10px;
	border-radius: 15px;
}

#video{
	margin: 10px;	
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Formulaires */
select{
	color: var(--text-color);
	background: var(--second-background-color);
	font-size: 18px;
	outline: none;
}