/* Réglage de la couleur du bouton de la barre de navigation */
#button-home a{
	background: rgb(41, 40, 37);
}

/* Corps de page */		
#body{
	margin: 40px;
	display: flex;
	flex-direction: column;
	background: rgba(88, 70, 70, .95);
	
}

#body h2{
	color: rgb(32, 29, 29);
	padding-left: 100px;
	font-size: 50px;
	text-decoration: underline;
	margin: 0;
	padding-top: 20px;
}

#content{
	display: flex;
	margin: 0;
	padding: 0;
}

/* Pages */
#pages{
	margin: 25px; 
	display: flex;
	flex-direction: column;
	background: rgb(56, 50, 50);
	color: white;
}

.page{
	margin: 20px;
	padding: 10px;
	background: rgb(36, 35, 34);
}

.page h3{
	padding-left: 70px;
	font-size: 25px;
	color: rgb(121, 102, 102);
	text-decoration: underline;
}

.page p{
	margin: 15px;
	font-size: 20px;
	color: rgb(206, 182, 182);
}

.page a{
	padding-left: 750px;
	font-size: 17px;
	color: rgb(116, 105, 105);
}
.page a:hover{
	color: rgb(156, 134, 134);
}



/* Chronologie */
#chronologie{
	margin: 10px;
	padding: 10px;
	background: rgb(68, 55, 55);	
}

#chronologie h3{
	color: rgb(148, 126, 126);
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 35px;
	text-decoration: bold;
	margin: 0;
}

#chronologie ul li{
	color: rgb(151, 140, 140);
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	text-decoration: bold;
	margin: 10px;
	width: 200px
}
